html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }



body {
    display: flex;
    max-width: 100vw;
    flex-direction: column;
    background-image: linear-gradient(#615dad, #ffc8da);
    background-repeat: no-repeat ;
    padding: 1px;
    align-items: center;
    text-align: center;
    font-family: "Arial", sans-serif;
    font-size: 18px;
}

.content {
    background-color: #283e50;
    width: 365px;
    color: white;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border-radius: 6px 6px 0px 0px;
    margin-block-start: 55px;
    margin-block-end: 130px;
}
.description {
    width: inherit;
    display: flex;
    flex-direction: column;
    
}

img.main {
    width: inherit;
    border-radius: inherit;
    flex-shrink: 0;
}


figure {
    width: inherit;
    align-self: center;
    display: inline-block;
}

img.rules {
    width: auto;
    flex-shrink: 0;
    width: inherit;
    padding: 0 20px 5px 20px;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 47px;
}

li {
    text-align: initial;
}

p, figcaption {
    padding: 0px 13px 5px 13px;
    font-weight: 500;
    font-size: 16px;
    margin: 0px 0px 24px 0;
    line-height: 150%;
}

a {
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 15px 0px 15px 0px;
}

a.rules, .main-page {
    background-color: #1fcca4;
    margin-bottom: 1px;
}

a.rules, .main-page:hover {
    background-color: #1cbb96;
}

a.play {
    background-color: #0197f6;
}

a.play:hover {
    background-color: #0090e9;
}